/*removes default margin from body, set auto-margin on both sides to center content */
/*sets body width to be 95% of the screen width */
/*applies font size to the whole body */
/*applies font type to the whole body, link to web font in html file */
* {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold; }

body {
  margin: 0 auto;
  width: 95%;
  font-size: 2vw; }

#nokia {
  display: none; }

/*==========================
 * HEADER SECTION
 * ========================= */
/*background of header assigned by a sass-variable */
/*header width is 100% of body width */
/*header width is 9vw of the of body width */
/*if there is no fix height, header-banner-a will need margin up and bottom to space from container border */
/*it will resize wrongly, taking full space between banner and logo, bring */
/*items inside the header will be displayed flex */
/*items will be horizontally centered with free space equally between them */
/*items are vertically centered within header height */
/*sets width and height of images(logo/banner) to be 100% width & height of respective container */
/*object-fit: cover cuts off all parts of image that does not fir into container */
/*logo container is div, banner immediate container is a-link nested inside div-container */
header {
  background-color: #fff3f3;
  width: 100%;
  height: 12vw;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

/*header-logo container set to display flex to allow vertically center the image within it */
/*container width is 22% of the header width */
/*margin on the left to move logo container from the left border of header container */
#header-logo {
  display: flex;
  align-items: center;
  width: 22%;
  margin-left: 2vw; }

/*header-banner container set to display flex to allow vertically center the div with image within it */
/*container width is 60% of the header width */
/*margin on the right to move banner container from the rights border of header container */
/*div div inside header-banner a is flex container to center the image vertically inside the div */
/*div for image is 100% width of the logo-banner container, oterwise image gets smaller and moves when page resized */
#header-banner {
  display: flex;
  align-items: center;
  width: 60%;
  margin-right: 2vw; }
  #header-banner div {
    display: flex;
    align-items: center;
    width: 100%; }

/*==========================================
 * NAV-BAR SECTION (top & bottop of page)
 * ========================================= */
/*background color of nav-bar */
/*navbar aligns links in a row by default, display flex is to be able to use align-items property */
/*navbar centers the navbar elements (links) vertically */
/*width of nav-bar is 100% of body width */
/*height of nav-bar is fixed in vw */
/*removes underline from nav-bar elements (links) */
/*gives links a margin of 2vw on left and right to pull from each other and from left navbar border */
/*sets text color of links to white via variable (see line 3) */
/*sets font-size of header navbar */
nav {
  background-color: #8e1616;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4vw; }
  nav a {
    text-decoration: none;
    margin: auto 0;
    margin-left: 2vw;
    color: #ffffff;
    font-size: 2.5vw;
    font-weight: bold; }

/*sets background-color of footer navbar via variable (see line 2) */
/*sets font-size of footer navbar */
footer nav {
  background-color: #171717; }
  footer nav a {
    font-size: 1.8vw;
    font-weight: bold; }

/*===============
 * MAIN SECTION
 * =============== */
/*centers main within the body */
/*makes main 100% width of body */
main {
  margin: 0 auto;
  width: 100%; }

h1, h2, h3, h4, p {
  margin: 0; }

/*================
 * MAIN-UP SECTION
 * ================ */
#main-up {
  background-image: url("../img/traffic-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: lightgrey;
  width: 100%;
  height: 85vw; }

#page-header {
  width: 100%;
  height: 9vw;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2vw;
  font-size: 2.2vw;
  color: #ffffff; }
  #page-header h1 {
    margin-left: 3vw; }

#form-container {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  width: 88%;
  height: 55vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid grey;
  border-radius: 0 0 3px 3px; }

#form-header {
  height: 10vw;
  width: 50%;
  margin: 4% auto; }
  #form-header h2 {
    color: #2c2c2c;
    font-size: 4.5vw;
    text-align: center; }

#calculator {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.input-field-container {
  width: 40%;
  margin-bottom: 2vw;
  display: flex;
  flex-flow: column; }
  .input-field-container span {
    width: 100%; }
  .input-field-container input {
    width: 95%;
    height: 3.75vw;
    border: 1px solid black;
    padding-left: 1vw;
    font-size: 1.8vw; }
  .input-field-container select {
    border: 1px solid black;
    height: 4.2vw;
    font-size: 1.8vw;
    background-color: #ffffff; }

#calc-button {
  width: 37%;
  height: 5vw;
  margin: 1vw auto 5vw;
  border-radius: 12px;
  font-size: 3vw;
  background-color: #339235;
  color: #ffffff; }

#output {
  width: 70%;
  height: 10vw;
  text-align: center;
  font-size: 3vw;
  color: #339235; }

#main-up-text {
  margin: 1vw auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #474747;
  font-size: 2.5vw; }
  #main-up-text h3 {
    font-size: 4vw; }

#line-two {
  width: 55%;
  text-align: center;
  margin-bottom: 1vw; }

/*=================
 * MAIN-DOWN SECTION
 * ================= */
#main-down {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.5%; }

.main-down-box {
  background-color: #ffffff;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vw 5vw;
  border-top: 1px solid black;
  box-shadow: 2px 2px 3px lightgrey, -2px 0 3px lightgrey; }

article {
  width: 85%;
  height: 32vw;
  margin: 7.5% 0 0; }

#main-down-box-left {
  margin-left: 4vw; }

#main-down-box-right {
  margin-right: 4vw; }

.text-containers {
  margin-bottom: 4%;
  font-size: 80%; }

.small-text {
  color: #6B5F5B;
  font-weight: bold; }

.h4-text {
  font-size: 160%;
  font-weight: normal;
  color: #47598f; }

.benefits-container {
  border-top: 0.5px solid lightgrey;
  padding-top: 6%; }
  .benefits-container span {
    color: #838996;
    font-weight: bold; }

.check {
  color: #36cdd1;
  font-size: 2.5vw; }

#tm {
  font-family: serif;
  font-size: 1.8vw; }

/*===============
 * FOOTER SECTION
 * =============== */
footer {
  background-color: #171717;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-top: 5vw; }

#footer-logo {
  width: 100%;
  height: 12vw;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

#footer-logo > img {
  width: 21vw;
  margin-right: 2vw; }

#footer-text {
  width: 100%;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.5vw; }

/*=========================================================================
 * MEDIA QUERY SECTION
 * ======================================================================== */
@media screen and (max-width: 520px) {
  #header-banner {
    display: none; }

  nav {
    height: 6vw;
    justify-content: center; }
    nav a {
      font-size: 4vw;
      margin: auto 2vw; }

  #main-up, #main-down {
    height: auto; }

  #main-up {
    height: auto; }

  #form-container {
    width: 90%;
    height: auto;
    border: 2px solid grey;
    border-radius: 9px; }

  #form-header {
    width: 70%;
    height: auto; }
    #form-header h2 {
      font-size: 6vw; }

  #calculator {
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center; }

  .input-field-container {
    width: 70%;
    margin-bottom: 2vw;
    display: flex;
    flex-flow: column;
    font-size: 4.5vw; }
    .input-field-container span {
      width: 100%; }
    .input-field-container input {
      width: 97%;
      height: 5.85vw;
      font-size: 3vw; }
    .input-field-container select {
      height: 6vw;
      font-size: 3vw; }

  #calc-button {
    width: 45%;
    height: 8vw;
    margin: 4vw auto;
    border-radius: 12px;
    font-size: 4.5vw; }

  #output {
    width: 90%;
    height: 13vw;
    font-size: 3vw;
    margin-bottom: 2vw; }

  #main-up-text {
    margin: 2vw auto;
    width: 100%;
    font-size: 2.7vw; }
    #main-up-text h3 {
      font-weight: normal;
      font-size: 4vw; }

  #line-two {
    margin-bottom: 2vw; }

  #main-down {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 3%; }

  .main-down-box {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vw 5vw;
    border: 1px solid black;
    box-shadow: none; }

  article {
    width: 85%;
    height: auto; }

  #main-down-box-left, #main-down-box-right {
    margin: 3vw; }

  .h4-text {
    font-size: 160%; }

  .text-containers {
    margin-bottom: 4%;
    font-size: 3vw; }

  .benefits-container {
    border-top: 1px solid grey;
    padding-top: 7%; }

  footer nav a {
    font-size: 3vw; }

  #footer-logo {
    justify-content: center; }
    #footer-logo img {
      width: 30vw;
      margin: 0; }

  #footer-text {
    height: 5vw;
    font-size: 2.5vw; } }
/*media-query easter egg =^.^= */
@media screen and (max-width: 120px) {
  header, nav, main, footer {
    display: none; }

  #nokia {
    display: initial;
    text-align: center;
    font-size: 15vw; }
    #nokia p {
      margin: 3vw 0;
      background-color: red; } }

/*# sourceMappingURL=style.css.map */
