$header-color: #fff3f3
$footer-color: #171717
$text-color: #ffffff

/*removes default margin from body, set auto-margin on both sides to center content*/
/*sets body width to be 95% of the screen width*/
/*applies font size to the whole body*/
/*applies font type to the whole body, link to web font in html file*/
*
	font-family: 'Open Sans Condensed', sans-serif
	font-weight: bold

body
	margin: 0 auto
	width: 95%
	font-size: 2vw

#nokia
	display: none
/*==========================
  HEADER SECTION
  =========================*/
header
	background-color: $header-color
	width: 100% 
	height: 12vw
	display: flex 
	justify-content: space-between
	align-items: center 

#header-logo
	width: 20%
	margin-left: 3vw

#header-banner
	width: 60%
	margin-right: 3vw

/*==========================================
  NAV-BAR SECTION (top & bottop of page)
  =========================================*/
/*background color of nav-bar*/
/*navbar aligns links in a row by default, display flex is to be able to use align-items property*/
/*navbar centers the navbar elements (links) vertically*/
/*width of nav-bar is 100% of body width*/
/*height of nav-bar is fixed in vw*/
/*removes underline from nav-bar elements (links)*/
/*removes side margins from nav-bar elements (links) and set auto margin on top and bottom*/
/*gives links a margin of 2vw on left to pull from each other and from left navbar border*/
/*sets text color of links to white via variable (see line 3)*/
/*sets font-size of header navbar*/
nav
	background-color: #8e1616
	display: flex
	align-items: center
	width: 100%
	height: 4vw
	a
		text-decoration: none
		margin: auto 0
		margin-left: 2vw
		color: $text-color
		font-size: 2.5vw

/*sets background-color of footer navbar via variable (see line 2)*/
/*sets font-size of footer navbar*/
footer 
	nav
		background-color: $footer-color
		a
			font-size: 1.8vw
			font-weight: bold
/*===============
  MAIN SECTION
  ===============*/
/*centers main within the body*/
/*makes main 100% width of body*/
main
	margin: 0 auto
	width: 100%	

/*removes all default margins from the h and p elements*/
h1, h2, h3, h4, p
	margin: 0

/*================
  MAIN-UP SECTION
  ================*/
#main-up
	background-image: url("../img/traffic-background.jpg")
	background-repeat: no-repeat
	background-size: 100%
	background-color: lightgrey
	width: 100%
	height: 80vw
	padding-top: 4vw

/*Car insurance section*/
#page-header
	color: $text-color
	font-size: 4vw
	margin-left: 3vw
	margin-bottom: 2vw

#form-container
	padding-top: 2vw
	background-color: rgba(255, 255, 255, 0.8)
	margin: 0 auto
	width: 88%
	height: 53vw
	display: flex
	flex-flow: column
	align-items: center
	justify-content: flex-start
	border: 2px solid grey

/*Custom quote*/
#form-header
	width: 50%
	color: #2c2c2c
	font-size: 4.6vw
	text-align: center
	margin-bottom: 2vw

/*calculator block with input fields and calc-button*/
#calculator
	width: 75%
	display: flex
	flex-wrap: wrap
	justify-content: space-between

/*contain input field label + input field*/
.input-field-container
	width: 40%
	margin-bottom: 2vw
	display: flex
	flex-flow: column
	input
		width: 95%
		height: 3.75vw
		border: 1px solid black
		padding-left: 1vw
		font-size: 2vw
	select
		border: 1px	solid black
		height: 4.2vw
		font-size: 2vw
		background-color: $text-color

#calc-button
	width: 37%
	height: 5vw
	margin: 1vw auto 4vw
	border-radius: 10px
	border: 0
	font-size: 3.4vw
	background-color: #339235
	color: $text-color

#output
	width: 70%
	height: 10vw
	text-align: center
	font-size: 2.5vw
	color: #339235

#main-up-text
	margin-top: 1vw
	width: 100%
	display: flex
	flex-flow: column
	justify-content: center
	align-items: center
	color: #474747
	font-size: 2.2vw
	h3
		font-size: 3.5vw

#line-two
	width: 50%
	text-align: center
	margin-bottom: 1.5vw
/*=================
  MAIN-DOWN SECTION
  =================*/

#main-down
	width: 100%
	display: flex
	justify-content: space-between
	align-items: center
	

.main-down-box
	background-color: $text-color
	width: 45%
	display: flex
	justify-content: center
	align-items: center
	margin: 8vw 5vw
	border-top: 1px solid black
	box-shadow: 2px 2px 3px lightgrey, -2px 0 3px lightgrey

article
	width: 85%
	height: 28vw
	margin: 6% 10%
	
#main-down-box-left
	margin-left: 4vw

#main-down-box-right
	margin-right: 4vw

.text-containers
	margin-bottom: 1%
	font-size: 85%

.small-text
	color: #6B5F5B
	font-weight: bold

.h4-text
	font-size: 160%
	font-weight: normal
	color: #47598f

.benefits-container	
	border-top: 0.5px solid rgba(211, 211, 211, 0.3)
	padding-top: 6%
	span
		color: #838996
		font-weight: bold

.check
	color: #36cdd1
	font-size: 2.5vw

/*===============
  FOOTER SECTION
  ===============*/

footer
	background-color: $footer-color
	display: flex
	flex-flow: column
	align-items: flex-start

#footer-logo
	width: 100%
	height: 12vw
	display: flex
	justify-content: flex-end
	align-items: center

#footer-logo > img
	width: 21vw /*makes image inside div-footer stay 25vw of browser window size*/
	margin-right: 2vw

#footer-text
	width: 100%
	height: 3vw
	display: flex
	justify-content: center
	align-items: center
	color: $text-color
	font-size: 1.5vw

/*=========================================================================
  MEDIA QUERY SECTION
  ========================================================================*/

@media screen and (max-width: 520px)
	
	#header-banner
		display: none	

	nav
		height: 6vw
		justify-content: center
		a
			font-size: 4vw
			margin: auto 2vw

	#main-up, #main-down
		height: auto
	
	#main-up
		height: auto

	#page-header
		font-size: 3.5em

	#form-container
		width: 90%
		height: auto
		border: 2px solid grey
		border-radius: 9px

	#form-header
		width: 65%
		height: auto
		font-size: 6vw

	#calculator
		width: 90%
		display: flex
		flex-flow: column
		align-items: center

	.input-field-container
		width: 70%
		margin-bottom: 2vw
		display: flex
		flex-flow: column
		font-size: 4.5vw
		input
			width: 97%
			height: 5.85vw
			font-size: 3vw
		select
			height: 6vw
			font-size: 3vw

	#calc-button
		width: 45%
		height: 8vw
		margin: 4vw auto
		border-radius: 12px
		font-size: 4.5vw
	
	#output
		width: 90%
		height: 13vw
		font-size: 3vw
		margin-bottom: 2vw

	#main-up-text
		margin: 2vw auto
		width: 100%
		font-size: 2.8vw
		h3
			font-weight: normal
			font-size: 4vw

	#line-two
		width: 60%
		margin-bottom: 2vw

	#main-down
		width: 100%
		display: flex
		flex-flow: column
		align-items: center
		margin-top: 3%	

	.main-down-box
		width: 75%
		height: auto
		display: flex
		justify-content: center
		align-items: center
		margin: 4vw 5vw
		border: 1px solid black
		box-shadow: none

	article
		width: 85%
		height: auto

	#main-down-box-left, #main-down-box-right
		margin: 3vw
	
	.h4-text
		font-size: 160%

	.text-containers
		margin-bottom: 4%
		font-size: 3vw

	.benefits-container	
		border-top: 1px solid grey
		padding-top: 7%

	footer 
		nav
			a
				font-size: 3vw

	#footer-logo
		justify-content: center
		img
			width: 30vw /*makes image inside div-footer stay 30vw of browser window size*/
			margin: 0

	#footer-text
		height: 5vw
		font-size: 2.5vw

/*media-query easter egg =^.^= */
@media screen and (max-width: 120px)
	
	header, nav, main, footer
		display: none

	#nokia
		display: initial
		text-align: center
		font-size: 15vw
		p
			margin: 3vw 0
			color: white
			background-color: black